<h1 class="main_title">about the project</h1>
<div class="content cf">
  <p>This music web app was developed by Aleix Pellicer as his final project in the course GenerationSpain, Barcelona.</p>
</div>
<h1 class="main_title bottom">ironrad.io</h1>
<div class="content cf">
  <p>Ironrad.io is an online radio which allows users to share songs between them in real time and listen them togheter, it also allows bars, restaurants or even music clubs to play music requested by the customers.</p>
</div>
<h1 class="main_title bottom">technical side</h1>
<div class="content cf">
  <p>Mainly built using Ruby on Rails along with sass, javascript, html5 and css3. It was developed trying to use OOP, Agile methodologies (I followed a Scrumb cycles mixed with Kanban using Trello), and making usage of Git.</p>
</div>
<h1 class="main_title bottom">...and thanks</h1>
<div class="content cf">
  <p>To everyone involved in GenerationSpain; my course collegues, Ben Tarenne (my tutor), the codegram guys, specially Oriol Gual, Marc Riera and Genís Matutes (my mentor).</p>
</div>