<h1 class="main_title">Team</h1>
<div class="content cf">
  <%= image_tag("aleix.jpg", class: "photo") %>
  <div class="me-info">
    <h2>Aleix Pellicer</h2>
    <h3>Owner, designer & developer</h3>
  </div>
  <aside class="me-contact">
    <h1 class="aside-follow">Follow & contact me</h1>
    <ul>
      <li><a target="_blank" href="http://twitter.com/aleixpellicer">Twitter</a></li>
      <li><a target="_blank" href="http://facebook.com/aleixpellicer">Facebook</a></li>
      <li><a target="_blank" href="http://github.com/aleixpellicer">GitHub</a></li>
      <li><a target="_blank" href="http://linkedin.com/in/aleixpellicer">LinkedIn</a></li>
      <li><a target="_blank" href="mailto:aleixpellicer@gmail.com">aleixpellicer@gmail.com</a></li>
    </ul>
  </aside>
</div>