.playing-video-box {
  width:400px;
  height:126px;
}
.voting-box {
  width:68px;
  height:106px;
  float:left;
  margin-top:20px;
  margin-left:12px;
}
.upvote {
  display:block;
  font-size:0;
  width:29px;
  height:18px;
  margin-top:5px;
  margin-left:20px;
  background:url(image_path('btn-upvote.png')) -29px 0px no-repeat;
}
.heart-votes {
  font-family: 'Open Sans', sans-serif;
  font-size:3.4em;
  color:#c1c1c1;
  text-shadow: 1px 1px #000;
  height:35px; width:68px;
  text-align:center;
  margin-top:-5px;
}
.downvote {
  display:block;
  font-size:0;
  width:29px;
  height:18px;
  margin-top:17px;
  margin-left:20px;
  background:url(image_path('btn-downvote.png')) -29px 0px no-repeat;
}
.song-name {
  float:left;
  width:298px;
  margin-top:12px;
  margin-left:10px;
  color:#c1c1c1;
  font-size:1.6em;
  line-height:1.2em;
  text-shadow: 1px 1px #000;
}
.user {
  width:298px;
  height:25px;
  margin-top:2px;
  float:left;
  text-align:center;
  text-shadow: 1px 1px #000;
  margin-left:10px;
}
.sent-by {
  font-size:1.3em;
  line-height:1.1em;
  float:left;
  color:#838383;
}
.sent-by-user {
  font-size:1.3em;
  line-height:1.1em;
  float:left;
  color:#c1c1c1;
  margin-left:5px;
}
.sent-by-rating {
  font-size:1.3em;
  line-height:1.1em;
  float:left;
  color:#838383;
  margin-left:5px;
}

.closePlaylistBttn {
  position:absolute;
  top:2px;
  right:400px;
  z-index:10000;
  height:30px;
  width:18px;
  overflow:hidden;
}
.closePlaylistBttn img {
  width:18px;
  height:29px;
}
.openPlaylistBttn {
  position:absolute;
  top:2px;
  right:400px;
  z-index:10000;
  height:30px;
  width:18px;
  overflow:hidden;
  display:none;
}
.openPlaylistBttn img {
  width:18px;
  height:29px;
}